<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221269273040-rpqtn9oj55gejfhv7uaq5c2uovnvshtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221269273040-rpqtn9oj55gejfhv7uaq5c2uovnvshtb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>221269273040-b5frqojtmodkje9jqlbgs6jd07nfuesp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGIj9kGnFXai9oQQtubc9jxN-H_XA77oA</string>
	<key>GCM_SENDER_ID</key>
	<string>221269273040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everlytic.ios.EverlyticPushDevApp</string>
	<key>PROJECT_ID</key>
	<string>sdk-sandbox-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sdk-sandbox-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221269273040:ios:a4d9b80cc77460f2</string>
	<key>DATABASE_URL</key>
	<string>https://sdk-sandbox-app.firebaseio.com</string>
</dict>
</plist>